<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="md-arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content>
  <!--linear-gradient(to bottom, #009fe3 0%,#05b4ff 70%,#3dc5ff 77%, #94dfff 84%, #dbf4ff 95%,#ffffff 100%);-->
  <div class="news-zone"
  style="background: linear-gradient(180deg, rgba(217,226,237,1) 0%, rgba(245,246,250,1) 75%, rgba(255,255,255,1) 100%);
  padding: 0.5rem;">
    <ion-text color="danger">
      <h2 style="font-weight: 600;">News</h2>
    </ion-text>
    
    <div id="news" *ngFor="let n of news">
      <ion-text class="blue-text">
        <div style="font-size: 1.4rem; font-weight: 600;">{{ n.title }}</div>
      </ion-text>
      <div style="color: #000000 !important;" [innerHtml]='n.content'>
      </div>
    </div>

    <div id="maps">
      <ion-text color="dark">
        <h2 style="font-weight: 600;">Maps</h2>
      </ion-text>
      <iframe src="https://www.google.com/maps/d/embed?mid=1ZsdkFYcRlNw40ehkVVT9p03qH2J1HDgd" width="100%" height="480">
      </iframe>
    </div>

    <div id="creaViaggio" style="text-align: center; margin-top: 1rem;">
      <div id="{{cluster.alias}}" *ngFor="let cluster of clusters" class="key-text background-{{cluster.name}}" 
      style="font-size: 1.5rem; padding: 0.5rem;" (click)="toCluster($event)">
        {{cluster.name}}
      </div>

      <div style="text-align: center;" routerDirection="'root'" [routerLink]="['/il-tuo-tour']">
        <ion-button>Crea il tuo viaggio</ion-button>
      </div>
    </div>
  </div>

  <div class="concept-zone"
  style="background: linear-gradient(180deg, rgba(217,226,237,1) 0%, rgba(245,246,250,1) 75%, rgba(255,255,255,1) 100%);
  padding: 0.5rem;">
    <ion-grid style="padding: 0rem;">
      <ion-row>
        <ion-col>
          <div class="blue-text sub-key-text" style="margin: 0rem;">Concept</div>
          <div class="general-text" style="margin: 0rem;">
              Una cooperazione tra quattro realtà imprenditoriali marchigiane capaci di proporre intorno ai temi della cultura, 
              del ricco tessuto manifatturiero e delle imprese culturali creative della regione un progetto turistico che 
              esalti ai migliori livelli la sua vocazione.
          </div>
        </ion-col>
      </ion-row>
      
      <hr color="#00000" />

      <ion-row align-items-center>
        <ion-col>
          <div style="color: #000000;">
            Un lavoro sinergico unisce
            al Paesaggio dell’Eccellenza altri partner operativi:
          </div>
        </ion-col>
        <ion-col>
          <div>
            <a href="https://www.paesaggioeccellenza.it" target="_blank">
              <img src="../../assets/img/logo_paesaggioeccellenza.jpg" href="https://www.paesaggioeccellenza.it" 
              target="_blank" alt="">
              paesaggioeccellenza.it
            </a>
          </div>
        </ion-col>
      </ion-row>

      <hr color="#00000" />

      <ion-row align-items-center>
        <ion-col>
          <div style="color: #000000;">
            e-Lios
            attivi nell’expertise del settore digitale
          </div>
        </ion-col>
        <ion-col>
          <div>
            <a href="https://www.e-lios.eu" target="_blank">
              <img src="../../assets/img/logo-elios.png" alt=""> 
              e-lios.eu
            </a>
          </div>
        </ion-col>
      </ion-row>

      <hr color="#00000" />

      <ion-row align-items-center>
        <ion-col>
          <div style="color: #000000;">
            GoWord
            di consolidata esperienza nel settore turistico
          </div>
        </ion-col>
        <ion-col>
          <div>
            <a href="https://www.goworld.it" target="_blank">
              <img src="../../assets/img/logo-goworld.png" alt="">
              goworld.it
            </a>
          </div>
        </ion-col>
      </ion-row>

      <hr color="#00000" />

      <ion-row align-items-center>
        <ion-col>
          <div style="color: #000000;">
            ma:design
            rappresentanti della qualità nel campo della comunicazione integrata
          </div>
        </ion-col>
        <ion-col>
          <div>
            <a href="http://www.madesign.it" target="_blank">
              <img src="../../assets/img/logo-mad.png" alt="">
              madesign.it
            </a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="info-zone" style="padding: 0.5rem;">

    <ion-grid style="padding: 0rem;">
      <ion-row>
        <ion-col>
          <div style="font-weight: 600; font-size: initial;">Visit Industry Marche</div>
          <div>t + 39 071 2089397</div>
          <div>info@visitindustry-marche.it</div>
        </ion-col>
        <ion-col>
          <div style="font-weight: 600; font-size: initial;">Il paesaggio dell'eccellenza</div>
          <div>info@paesaggioeccellenza.it</div>
          <div>paesaggioeccellenza.it</div>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let n of news">
        <ion-col>
          <ion-text class="blue-text">
            <div style="font-size: 1.2rem; font-weight: 600;">{{ n.title }}</div>
          </ion-text>
          <div style="color: #000000 !important; font-size: 0.8rem;" [innerHtml]='n.content'></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <hr color="#00000" style="margin: 0.6rem;" />

    <div style="display: inline-flex;">
      <img src="../../assets/img/por-fesr.png" alt=""
      style="width: 3.5rem; margin: 0.8rem;">
      <a href="http://www.marche.europa.it" target="_blank">
        <img src="../../assets/img/marche-europa.jpg" alt=""
        style="margin: 0.8rem; width: 18rem; margin-left: 0.1rem;">
      </a>
    </div>
    
  </div>

</ion-content>