<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="md-arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding>
  <!--
  <ion-card style="margin-bottom: 0rem;">
    <ion-slides [options]="sliderBackgroundConfig">
      <ion-slide *ngFor="let pic of packetPictures">
        <img src="{{pic.large}}" alt="" 
        style="display:inline-block; 
        width: -webkit-fill-available; height: 9rem;">
      </ion-slide>
    </ion-slides>
  </ion-card>
  -->

  <div id="backgroundImg">
    <img src="../../assets/img/animazione-{{cluster | lowercase}}.gif" alt="">
  </div>
  
  <div class="background-{{cluster}}" style="font-size: 1.5rem; height: auto; 
  padding: 1rem; display: inline-table; margin-bottom: auto; padding-bottom: 2.5rem;">
    {{cluster}}. {{packetInfo.title}}
  </div>

  <ion-card class="welcome">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div style="color: #312783; text-align: center;
          font-weight: 600;" class="general-text">
            Aziende
          </div>
        </ion-col>
        <ion-col>
          <div style="color: #312783; text-align: center;
          font-weight: 600;" class="general-text">
            Periodo di disponibilità:
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <div id="{{company.alias}}" class="sub-key-text" style="color: #312783; text-align: center; margin: 0.5rem;"
          *ngFor="let company of packetCompanies" (click)="toCompany($event)">
            {{company.name}}
          </div>
        </ion-col>
        <ion-col>
          <div class="general-text" style="text-align: center;">
            {{packetInfo.availabilityPeriod}}
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <div style="color: #312783; text-align: center;
          font-weight: 600;" class="general-text">
            Quota di Partecipazione a partire da: 
          </div>
        </ion-col>
        <ion-col>
          <div style="color: #312783; text-align: center;
          font-weight: 600;" class="general-text">
            Note aggiuntive prezzo
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <div class="key-text" style="color: #312783; text-align: center;">
            € {{packetInfo.price}}
          </div>
        </ion-col>
        <ion-col>
          <div class="general-text" style="text-align: center;">
            {{packetInfo.priceNotes}}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="find-trip">
    <ion-list>
      <ion-item text-center>
        <div class="sub-key-text" style="margin-right: 25%; margin-left: 25%; margin-bottom: 0.5rem;">
          Trova il tuo viaggio
        </div>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1.4rem;">Aziende</ion-label>
        <ion-select id="select-companies" (ionChange)="onCompanyChange($event)" okText="OK" cancelText="ANNULLA">
          <ion-select-option *ngFor="let company of companies" value="{{company.name}}">{{company.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1.4rem;">Cluster</ion-label>
        <ion-select id="select-clusters" (ionChange)="onClusterChange($event)" okText="OK" cancelText="ANNULLA">
          <ion-select-option *ngFor="let clst of clusters" value="{{clst.name}}">{{clst.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button (click)="findPacket()">Cerca</ion-button>
  </ion-card>

  <div *ngIf="resultsPacket?.length > 0">

    <div id="packets">
      <div id="packet" *ngFor="let packet of resultsPacket">
        <ion-card (click)="toSelectedPacket(packet, packet.cluster[0])" style="margin: 1rem;">
          <div class="sub-key-text blue-text" style="padding: 0.5rem;">
            {{packet.title}}
          </div>
          <ion-item style="background: #fcfaf2;">
            <img src="{{packet.previewImage}}" 
            style="width: 8.2rem; height: fit-content;" alt="">
            <div class="card-packet-body">
              <p *ngIf="packet?.description != '---'" class="card-days-packet">{{packet.description}}</p>
              <div *ngFor="let company of packet.companies">
                <p class="card-hashtag-company">#{{company.name}}</p>
              </div>
              <p class="card-info-packet">{{packet.priceNotes}}</p>
            </div>
          </ion-item>
        </ion-card>
      </div>
    </div>

  </div>

  <ion-label class="sub-key-text">Punti d'Interesse:</ion-label>
  
  <ion-slides [options]="sliderConfig" style="margin-bottom: 1rem; margin-top: 1rem;">
    <ion-slide *ngFor="let poi of packetPois">
      <ion-card style="width: 12rem; height: 16.2rem;" (click)="toSelectedPoi(poi)">
        <ion-card-content class="poi-card">
          <img src="{{poi.previewPicture}}" alt="" 
          style="display:inline-block; 
          width: -webkit-fill-available; height: 9rem;">
          <div class="sub-key-text blue-text">{{poi.name}}</div>
          <div class="general-text">{{poi.description}}</div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="background-{{cluster}}"
  style="font-size: 1.5rem; height: 6.5rem; padding: 1rem;">
    <ion-label>Programma del viaggio (a richiesta programmabile)</ion-label>
  </div>

  <div *ngFor="let day of packetInfo.days" id="programByDays">

    <ion-card padding>
      <div button *ngIf="packetInfo.days" (click)="day.open = !day.open"
      [class.active-parent]="day.open" detail="false">
        <div id="day" style="color: #13a538; font-size: xx-large; font-weight: 600;">
          {{day.dayNumber}}° Giorno
        </div>
        <div id="title" style="font-size: x-large; color: #312783; font-weight: 600;">
          {{day.texts[0].content}}
        </div>
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright" 
        style="width: -webkit-fill-available; font-size: xx-large;" *ngIf="!day.open"></ion-icon>
        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown" 
        style="width: -webkit-fill-available; font-size: xx-large;" *ngIf="day.open"></ion-icon>
      </div>
  
      <ion-menu-toggle auto-hide="false" *ngIf="day.open">
        <div id="description" class="general-text">
          {{day.texts[1].content}}
        </div>
      </ion-menu-toggle>
    </ion-card>

  </div>

  <div class="map-zone">

    <div class="background-{{cluster}}"
    style="font-size: 1.5rem; padding: 1rem; margin-top: 1rem; margin-bottom: 1rem;">
      Mappa dell'itinerario
    </div>
    <div #map id="map">
      <agm-map *ngIf="packetPois[0] !== undefined"
      [style.height.px]="height"
      [latitude]="packetPois[0].latitude" [longitude]="packetPois[0].longitude">
        <agm-marker *ngFor="let poi of packetPois" [latitude]="poi.latitude" [longitude]="poi.longitude"> 
          <agm-info-window style="max-height: 10rem;">
            <div class="poi-card">
              <img src="{{poi.previewPicture}}" alt="" 
              style="display:inline-block; width: 6rem;">
              <div class="blue-text" style="font-size: 1rem;">{{poi.name}}</div>
              <div class="general-text" style="font-size: 0.75rem;">{{poi.description}}</div>
              <a><div style="font-size: 0.75 rem; font-weight: 600;" (click)="toSelectedPoi(poi)">
                Leggi Tutto
              </div></a>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>

  </div>

  <p class="sub-key-text" style="color: #13a538;">
    Quota individuale di partecipazione 
    {{packetInfo.priceNotes}}</p>
  <div id="includedInPrice">
    <p class="sub-key-text" style="color: #13a538;">Incluso nel prezzo</p>
    <p class="general-text">{{packetInfo.includedInPrice}}</p>
  </div>
  <div id="excludedFromPrice" *ngIf="packetInfo?.excludedFromPrice != '---'">
    <p class="sub-key-text" style="color: #e6332a;">Non Incluso nel prezzo</p>
    <p class="general-text">{{packetInfo.excludedFromPrice}}</p>
  </div>
  <ion-button (click)="toBook(aliasPacket)">Prenota il tuor</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar (click)="toFooter()">
    <div style="text-align: center; margin: 0.4rem; font-size: large; font-weight: 600;">
      News & Maps & Concept
    </div>
  </ion-toolbar>
</ion-footer>