<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding>
  <div id="background-img" style="position: relative;">
    <ion-slides [options]="sliderBackgroundConfig">
      <ion-slide *ngFor="let slide of slidesImg">
        <img src="{{ slide.src }}" alt="" 
        style="display:inline-block; width: -webkit-fill-available; height: 10rem;">
      </ion-slide>
    </ion-slides>
  </div>
  
  <div id="btn-clusters" class="btn-clusters">
    <button class="btn-cluster background-{{item.name}}"
    *ngFor="let item of btnClusters" (click)="toSelectedCluster(item)">
      {{item.name}}
    </button>
  </div>
    <!--
    <div id="img" style="position: absolute; z-index: 1;">
        <img src="{{ slidesImg[0].src }}" alt="">
    </div>
    -->

  <div id="content">
    <div class="blue-text" style="font-size: xx-large; font-weight: 600; text-align: center;">
      Visit-Industry Marche
    </div>
    <div class="grey-text" style="font-size: 1.7rem; font-weight: 600; text-align: center; color: #706f6f;">
      Industria cultura e territorio in un solo viaggio
    </div>
    <p class="blue-text" style="font-size: initial; font-weight: 600;">
        7 pacchetti proposti attorno a “parole chiave” che definiscono
        le aree delle migliori produzioni del manifatturiero marchigiano
        e insieme propongono luoghi e atmosfere assimilabili in itinerari
        paesaggistici, culturali, di leisure.
        <br><br>
        Il soggetto principale è la visita all’impresa di eccellenza: da questa
        si dipana un filo conduttore simbolico, sensoriale, esperienziale
        che accompagnerà il turista nei vari itinerari tematici.
    </p>
  
    <ion-card class="find-trip">
      <ion-list>
        <ion-item text-center>
          <div class="sub-key-text" style="margin-right: 25%; margin-left: 25%; margin-bottom: 0.5rem;">
            Trova il tuo viaggio
          </div>
        </ion-item>
  
        <ion-item>
          <ion-label style="font-size: 1.4rem;">Aziende</ion-label>
          <ion-select id="select-companies" (ionChange)="onCompanyChange($event)" okText="OK" cancelText="ANNULLA">
            <ion-select-option *ngFor="let company of companies" value="{{company.name}}">{{company.name}}</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label style="font-size: 1.4rem;">Cluster</ion-label>
          <ion-select id="select-clusters" (ionChange)="onClusterChange($event)" okText="OK" cancelText="ANNULLA">
            <ion-select-option *ngFor="let clst of clusters" value="{{clst.name}}">{{clst.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button (click)="findPacket()">Cerca</ion-button>
    </ion-card>
  
    <div *ngIf="resultsPacket?.length > 0">
  
      <div id="packets">
        <div id="packet" *ngFor="let packet of resultsPacket">
          <ion-card (click)="toSelectedPacket(packet, packet.cluster[0])" style="margin: 1rem;">
            <div class="sub-key-text blue-text" style="padding: 0.5rem;">
              {{packet.title}}
            </div>
            <ion-item style="background: #fcfaf2;">
              <img src="{{packet.previewImage}}" 
              style="width: 8.2rem; height: fit-content;" alt="">
              <div class="card-packet-body">
                <p *ngIf="packet?.description != '---'" class="card-days-packet">{{packet.description}}</p>
                <div *ngFor="let company of packet.companies">
                  <p class="card-hashtag-company">#{{company.name}}</p>
                </div>
                <p class="card-info-packet">{{packet.priceNotes}}</p>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
  
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar (click)="toFooter()">
    <div style="text-align: center; margin: 0.4rem; font-size: large; font-weight: 600;">
      News & Maps & Concept
    </div>
  </ion-toolbar>
</ion-footer>