<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="md-arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content>
  <form [formGroup]="bookForm">
    <ion-card class="ion-padding">
      <ion-item id="dataPassenger-{{numPassenger}}" class="dataPassenger">
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Dati passeggero #{{numPassenger}} *
        </ion-label>

        <ion-input formControlName="name" placeholder="Nome" id="nome-{{numPassenger}}"></ion-input>
        <ion-input formControlName="surname" placeholder="Cognome" id="cognome-{{numPassenger}}"></ion-input>
        <ion-input formControlName="age" placeholder="Età" id="eta-{{numPassenger}}" type="number"></ion-input>

        <div class="error-messages">
          <ng-container *ngFor="let err of error_messages.name">
            <div class="error-message"
            *ngIf="bookForm.get('name').hasError(err.type) && (bookForm.get('name').dirty || bookForm.get('name').touched)">
              {{ err.message }}
            </div>
          </ng-container>

          <ng-container *ngFor="let err of error_messages.surname">
            <div class="error-message"
            *ngIf="bookForm.get('surname').hasError(err.type) && (bookForm.get('surname').dirty || bookForm.get('surname').touched)">
              {{ err.message }}
            </div>
          </ng-container>

          <ng-container *ngFor="let err of error_messages.age">
            <div class="error-message"
            *ngIf="bookForm.get('age').hasError(err.type) && (bookForm.get('age').dirty || bookForm.get('age').touched)">
              {{ err.message }}
            </div>
          </ng-container>

        </div>
      </ion-item>
  
      <!---->
      <div id="buttons" class="ion-text-right">
        <ion-button id="addPassenger" (click)="addPassenger()" color="success">
          <ion-icon ios="ios-add" md="md-add"></ion-icon>
        </ion-button>
    
        <ion-button id="removePassenger" (click)="removePassenger()" color="danger">
          <ion-icon ios="ios-remove" md="md-remove"></ion-icon>
        </ion-button>
      </div>
      
    </ion-card>
  
    <ion-card class="ion-padding">
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" 
        position="stacked">
          Aeroporto di partenza (se previsto)
        </ion-label>
        <ion-input id="aereoporto-partenza"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Data di partenza
        </ion-label>
        <ion-datetime displayFormat="DD MM YYYY" placeholder="Seleziona la data"
        id="data-partenza" (ionChange)="onDataPartenza($event)" doneText="OK" cancelText="ANNULLA">
        </ion-datetime>
      </ion-item>
  
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Aeroporto di ritorno (se previsto)
        </ion-label>
        <ion-input id="aereoporto-ritorno">
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Data di ritorno
        </ion-label>
        <ion-datetime displayFormat="DD MM YYYY" placeholder="Seleziona la data"
        id="data-ritorno" (ionChange)="onDataRitorno($event)" doneText="OK" cancelText="ANNULLA"> 
        </ion-datetime>
      </ion-item>
    </ion-card>
  
    <ion-card class="ion-padding">
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Itinerario di massima
        </ion-label>
        <ion-textarea id="itinirario">
        </ion-textarea>
      </ion-item>
    </ion-card>
  
    <ion-card class="ion-padding">
      <ion-item>
        <ion-label style="font-size: larger;
        font-weight: 600;">Categoria Hotel</ion-label>
        <ion-select okText="OK" cancelText="ANNULLA" (ionChange)="onCategoriaHotel($event)">
          <ion-select-option style="font-size: 2rem;" *ngFor="let cat of categoriaHotel" value="{{cat}}">{{cat}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: larger;
        font-weight: 600;">Trattamento</ion-label>
        <ion-select okText="OK" cancelText="ANNULLA" (ionChange)="onTrattamento($event)">
          <ion-select-option style="font-size: 2rem;" *ngFor="let trat of trattamento" value="{{trat}}">{{trat}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label style="font-size: larger;
        font-weight: 600;">Sistemazione</ion-label>
        <ion-select okText="OK" cancelText="ANNULLA" (ionChange)="onSistemazione($event)">
          <ion-select-option style="font-size: 2rem;" *ngFor="let sis of sistemazione" value="{{sis}}">{{sis}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
  
    <ion-card class="ion-padding">
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Budget a persona
        </ion-label>
        <ion-input id="budget">
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Email *
        </ion-label>
        <ion-input formControlName="email" type="email" id="email">
        </ion-input>
      </ion-item>

      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message" 
          *ngIf="bookForm.get('email').hasError(error.type) && (bookForm.get('email').dirty || bookForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
        
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Telefono *
        </ion-label>
        <ion-input formControlName="phone" type="tel" id="telefono">
        </ion-input>
      </ion-item>

      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.phone">
          <div class="error-message" 
          *ngIf="bookForm.get('phone').hasError(error.type) && (bookForm.get('phone').dirty || bookForm.get('phone').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
  
      <ion-item>
        <ion-label class="blue-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Città
        </ion-label>
        <ion-input id="citta">
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label class="green-text" style="font-size: larger;
        font-weight: 600;" position="stacked">
          Richieste
        </ion-label>
        <ion-textarea id="richieste"></ion-textarea>
      </ion-item>
      <ion-button [disabled]="!bookForm.valid" shpe="round" size="default" color="success" (click)="bookTour()">Invia</ion-button>
    </ion-card>
  </form>
</ion-content>
