<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="md-arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding>
  <!--
  <div id="backgroundImg">
    <img src="../../assets/img/animazione-{{selectedCluster | lowercase}}.gif" alt="">
  </div>
  -->

  <!-- SLIDES LUCE -->
  <ion-slides [options]="sliderBackgroundConfig" *ngIf="selectedCluster == 'Luce'">
    <ion-slide *ngFor="let srcImg of slidesLuceBackgroundImg">
      <img src="{{ srcImg.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>

  <!-- SLIDES SUONO -->
  <ion-slides [options]="sliderBackgroundConfig" *ngIf="selectedCluster == 'Suono'">
    <ion-slide *ngFor="let srcImg of slidesSuonoBackgroundImg">
      <img src="{{ srcImg.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>

  <!-- SLIDES GIOCO -->
  <ion-slides [options]="sliderBackgroundConfig" *ngIf="selectedCluster == 'Gioco'">
    <ion-slide *ngFor="let srcImg of slidesGiocoBackgroundImg">
      <img src="{{ srcImg.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>

  <!-- SLIDES LIFESTYLE -->
  <ion-slides [options]="sliderBackgroundConfig" *ngIf="selectedCluster == 'Lifestyle'">
    <ion-slide *ngFor="let srcImg of slidesLifestyleBackgroundImg">
      <img src="{{ srcImg.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>

  <!-- SLIDES FUTURO : ne ha 1 -->
  <div id="backgroundImg" *ngIf="selectedCluster == 'Futuro'">
    <img src="../../assets/img/futuro-slide/1.jpg" alt=""
    style="display:inline-block; width: -webkit-fill-available;" >
  </div>
  <!--
  <ion-slides [options]="sliderBackgroundConfig" *ngIf="selectedCluster == 'Futuro'">
    <ion-slide *ngFor="let srcImg of slidesFuturoBackgroundImg">
      <img src="{{ srcImg.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>
  -->

  <!-- SLIDES CARTA : ne ha 1 -->
  <div id="backgroundImg" *ngIf="selectedCluster == 'Carta'">
    <img src="../../assets/img/carta-slide/1.jpg" alt=""
    style="display:inline-block; width: -webkit-fill-available;">
  </div>
  <!--
  <ion-slides [options]="sliderBackgroundConfig" *ngIf="selectedCluster == 'Carta'">
    <ion-slide *ngFor="let srcImg of slidesCartaBackgroundImg">
      <img src="{{ srcImg.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>
  -->

  <!-- SLIDES SAPORE -->
  <ion-slides [options]="sliderBackgroundConfig" *ngIf="selectedCluster == 'Sapore'">
    <ion-slide *ngFor="let srcImg of slidesSaporeBackgroundImg">
      <img src="{{ srcImg.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>

  <div class="background-{{selectedCluster}} key-text" id="cluster-title"
  style="margin-top: 1rem; padding: 1rem;">
    <ion-label>{{selectedCluster}}</ion-label>
  </div>

  <div [innerHTML]="clrInfo.description" class="general-text blue-text" 
  *ngFor="let clrInfo of clusterInfo" style="margin-top: 1rem;">
  </div>

  <ion-card class="find-trip">
    <ion-list>
      <ion-item text-center>
        <div class="sub-key-text" style="margin-right: 25%; margin-left: 25%; margin-bottom: 0.5rem;">
          Trova il tuo viaggio
        </div>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1.4rem;">Aziende</ion-label>
        <ion-select id="select-companies" (ionChange)="onCompaniesChange($event)" okText="OK" cancelText="ANNULLA">
          <ion-select-option *ngFor="let company of companies" value="{{company.name}}">{{company.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1.4rem;">Cluster</ion-label>
        <ion-select id="select-clusters" (ionChange)="onClustersChange($event)" okText="OK" cancelText="ANNULLA">
          <ion-select-option *ngFor="let clst of clusters" value="{{clst.name}}">{{clst.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button (click)="findPacket()">Cerca</ion-button>
  </ion-card>

  <div *ngIf="resultsPacket?.length > 0">

    <div id="packets">
      <div id="packet" *ngFor="let packet of resultsPacket">
        <ion-card (click)="toSelPacketFindTrip(packet, packet.cluster[0])" style="margin: 1rem;">
          <div class="sub-key-text blue-text" style="padding: 0.5rem;">
            {{packet.title}}
          </div>
          <ion-item style="background: #fcfaf2;">
            <img src="{{packet.previewImage}}" 
            style="width: 8.2rem; height: fit-content;" alt="">
            <div class="card-packet-body">
              <p *ngIf="packet?.description != '---'" class="card-days-packet">{{packet.description}}</p>
              <div *ngFor="let company of packet.companies">
                <p class="card-hashtag-company">#{{company.name}}</p>
              </div>
              <p class="card-info-packet">{{packet.priceNotes}}</p>
            </div>
          </ion-item>
        </ion-card>
      </div>
    </div>

  </div>

  <div class="background-{{selectedCluster}} key-text" id="cluster-title"
  style="margin-top: 1rem; margin: 0rem; padding: 1rem;">
    <ion-label>Itinerari</ion-label>
  </div>

  <div id="packets">
    <div id="packet" *ngFor="let packet of packetsInfo">
      <ion-card (click)="toSelectedPacket(packet)" style="margin: 1rem;">
        <div class="sub-key-text blue-text" style="padding: 0.5rem;">
          {{packet.title}}
        </div>
        <ion-item style="background: #fcfaf2;">
          <img src="{{packet.previewImage}}" 
          style="width: 8.2rem; height: fit-content;" alt="">
          <div class="card-packet-body">
            <p *ngIf="packet?.description != '---'" class="card-days-packet">{{packet.description}}</p>
            <div *ngFor="let company of packet.companies">
              <p class="card-hashtag-company">#{{company}}</p>
            </div>
            <p class="card-info-packet">{{packet.priceNotes}}</p>
          </div>
        </ion-item>
      </ion-card>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar (click)="toFooter()">
    <div style="text-align: center; margin: 0.4rem; font-size: large; font-weight: 600;">
      News & Maps & Concept
    </div>
  </ion-toolbar>
</ion-footer>