<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">
          Visit Industry Marche
        </div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
  </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding class="masters">
  <ion-slides [options]="sliderBackgroundConfig">
    <ion-slide *ngFor="let slide of slidesImg">
      <img src="{{ slide.src }}" alt="" 
      style="display:inline-block; width: -webkit-fill-available; height: 10rem;" />
    </ion-slide>
  </ion-slides>

  <!--
  <div id="backgroundImg" style="margin-bottom: 0.5rem;">
    <img src="{{ backgroundImg }}" alt="" style="display:inline-block;">
  </div>
  -->
  <div id="content" style="margin-top: 0.5rem;">
    <div class="blue-text" style="font-size: xx-large; font-weight: 600; text-align: center;">
      Visit-Industry Marche
    </div>
    <div class="grey-text" style="font-size: 1.7rem; font-weight: 600; text-align: center; color: #706f6f;">
      Industria cultura e territorio in un solo viaggio
    </div>
  
      <p class="blue-text" style="font-size: initial; font-weight: 600;">
        Una regione plurale perché somma in sé tante valenze e bellezze,
        dai paesaggi collinari e montani alle spiagge dorate, dai capolavori
        di grandi Maestri dell’Arte alle produzioni dell’artigianato di
        alta qualità, dalle splendide architetture del passato a quelle
        contemporanee delle industrie che hanno portato alla regione
        ricchezza, qualità, innovazione.
        <br><br>
        Ci sono luoghi del lavoro marchigiano tecnologici o artigianali che
        conservano nei loro musei, nei loro spazi operativi, un patrimonio di
        storia, conoscenze, bellezza che merita di essere conosciuto.
        <br><br>
        Perché da questa storia che si rinnova ogni giorno prende forma
        uno dei caratteri originali di questa terra, componendo insieme ai
        suoi volti già noti l’affascinante mosaico della sua identità. Visit
        Industri-Marche offre ai visitatori il piacere di conoscere dal vivo
        una selezione di eccellenze di questi luoghi del Made in Marche in
        itinerari turistici di innovativa concezione.</p>
  
    <div class="key-text background-Carta" style="text-align: center; 
    font-size: 1.7rem; font-weight: 600; padding: 1rem; color: #706f6f;">
      Il tuo tour
    </div>
    <div style="text-align: center;">
      <div *ngFor="let cluster of clusters">
        <div id="{{cluster.alias}}" class="key-text cluster-text-{{cluster.name}}" style="margin: 0.5rem;"
        (click)="toCluster($event)">
          {{ cluster.name }}
        </div>
      </div>
    </div>
    <br>
    <div style="text-align: center;" routerDirection="'root'" [routerLink]="['/il-tuo-tour']">
      <ion-button>Crea il tuo viaggio</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar (click)="toFooter()">
    <div style="text-align: center; margin: 0.4rem; font-size: large; font-weight: 600;">
      News & Maps & Concept
    </div>
  </ion-toolbar>
</ion-footer>