<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="md-arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding>
  <ion-card style="margin-bottom: 0rem;">
    <ion-slides [options]="sliderBackgroundConfig">
      <ion-slide *ngFor="let pic of companyInfo.pictures">
        <img src="{{pic.large}}" alt="" 
        style="display:inline-block; 
        width: -webkit-fill-available; height: 9rem;">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <div *ngIf="companyInfo.cluster.name">
    <p class="background-{{companyInfo.cluster.name}}" id="cluster-title"
    style="margin-top: 1rem; font-size: 1.7rem; padding: 0.5rem;">
      <ion-label>{{companyInfo.cluster.name}}</ion-label>
    </p>
  </div>

  <div *ngIf="!companyInfo.cluster.name">
    <p id="cluster-title" style="margin-top: 1rem; font-size: 1.7rem; 
    padding: 0.5rem; background-color: #fcfaf2;">
    </p>
  </div>
  
  <div id="infoCompany">
    <p class="key-text blue-text">{{companyInfo.name}}</p>
    <p class="general-text blue-text">{{companyInfo.description}}</p>

    <a href="https://{{companyInfo.site}}" target="_blank">
      <p class="sub-key-text blue-text">{{companyInfo.site}}</p>
    </a>
  </div>
  
  <hr color="#00000" style="margin-right: 40%;" />
  <div>
    <img src="{{companyInfo.logo}}" alt="">
  </div>
  <hr color="#00000" style="margin-right: 40%;" />

  <div *ngIf="companyInfo.cluster.name">
    <p class="background-{{companyInfo.cluster.name}}" id="cluster-title"
    style="margin-top: 1rem; font-size: 1.7rem; padding: 0.5rem;">
      <ion-label>Punti d'interesse</ion-label>
    </p>
  </div>

  <div *ngIf="!companyInfo.cluster.name">
    <p style="margin-top: 1rem; font-size: 1.7rem; 
    padding: 0.5rem; background-color: #fcfaf2;">
      <ion-label>Punti d'interesse</ion-label>
    </p>
  </div>

  <div style="text-align: center">
    <ion-card *ngFor="let poi of companyInfo.pois" style="display: inline-flex; 
    margin: 0.4rem; width: 7rem; height: 12.8rem;" (click)="toSelectedPoi(poi)">
      <ion-card-content style="padding: 0.4rem;">
        <img src="{{poi.previewPicture}}" alt="" 
        style="height: 5rem; width: 10rem;">
        <div class="blue-text" style="font-weight: 600; 
        line-height: 1rem; margin: 0.2rem;">
          {{poi.name}}
        </div>
        <div style="line-height: 1rem;">
          {{poi.description}}
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
