@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.background-Luce {
    background: linear-gradient(to bottom, #fcc600 0%,#ffca0a 68%,#ffdc5c 77%, #ffedad 84%, #fff8e0 95%,#ffffff 100%);
    color: #FFFFFF;
}
.background-Suono {
    background: linear-gradient(to bottom, #e43887 0%,#e74b94 68%,#ee81b4 77%, #f3a5c9 84%, #fbe4ef 95%,#ffffff 100%);
    color: #FFFFFF;
}
.background-Gioco {
    background: linear-gradient(to bottom, #ec6608 0%,#f66f0e 68%,#f88f44 77%, #fbbe93 84%, #fde4d3 95%,#ffffff 100%);
    color: #FFFFFF;
}
.background-Lifestyle {
    background: linear-gradient(to bottom, #819ec3 0%,#8da7c8 68%,#9fb4d1 77%, #c8d4e4 84%, #eaeff5 95%,#ffffff 100%);
    color: #FFFFFF;
}
.background-Futuro {
    background: linear-gradient(to bottom, #009fe3 0%,#05b4ff 68%,#3dc5ff 77%, #94dfff 84%, #dbf4ff 95%,#ffffff 100%);
    color: #FFFFFF;
}
.background-Carta {
    background: linear-gradient(to bottom, #13a538 0%,#18cd45 68%,#4dea74 77%, #a8f5bb 84%, #e4fcea 95%,#ffffff 100%);
    color: #FFFFFF;
}
.background-Sapore {
    background: linear-gradient(to bottom, #f7bdc3 0%,#f7bfc5 68%,#f8c4c9 77%, #fce4e6 84%, #fdedee 95%,#ffffff 100%);
    color: #FFFFFF;
}

/* CLUSTER */
/*
.btn-clusters {
    position: absolute;
    padding: 0.5rem;
    text-align: center;
    z-index: 2;
    margin-top: 5%;
}
*/
.btn-clusters {
    padding: 0.3rem;
    text-align: center;
    margin-top: 0.5rem;
}
.btn-cluster {
    margin: 0.2rem;
    width: 5.6rem;
    height: 2.2rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.cluster-text-Luce {
    color: #fcc600 !important;
    padding: 0.2rem !important;
    margin-left: 0.8rem;
}
.cluster-text-Suono {
    color: #e43887 !important;
    padding: 0.2rem !important;
    margin-left: 0.8rem;
}
.cluster-text-Gioco {
    color: #ec6608 !important;
    padding: 0.2rem !important;
    margin-left: 0.8rem;
}
.cluster-text-Lifestyle {
    color: #819ec3 !important;
    padding: 0.2rem !important;
    margin-left: 0.8rem;
}
.cluster-text-Futuro {
    color: #009fe3 !important;
    padding: 0.2rem !important;
    margin-left: 0.8rem;
}
.cluster-text-Carta {
    color: #13a538 !important;
    padding: 0.2rem !important;
    margin-left: 0.8rem;
}
.cluster-text-Sapore {
    color: #f7bdc3 !important;
    padding: 0.2rem !important;
    margin-left: 0.8rem;
}

/* TEXTs */
.text-over-img {
    margin-top: -1.7rem;
    position: relative;
}
.key-text {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.8rem;
}
.sub-key-text {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5rem;
}
.general-text {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
}

.find-trip {
    box-shadow: 10px 10px 5px 0px rgba(210,209,209,0.8);
    border: 1px solid #D2D1D1;
}

.itinerari-description-black {
    color: #706f6f;
}
.blue-text{
    color: #312783;
}
.red-text {
    color: #e6332a;
}
.light-blue.Futuro-text {
    color: #009fe3;
}
.green-text.Carta-text{
    color: #13a538;
}
.grey-text.Lifestyle-text{
    color: #819ec3;
}
.purple-text.Suono-text{
    color: #e43887;
}
.orange-text.Gioco-text {
    color: #ec6608;
}
.yellow-text.Luce-text {
    color: #fcc600;
}
.pink-text.Sapore-text{
    color: #f7bdc3;
}

/* CARD */
.poi-card {
    display: inline-block;
    text-align: center;
}
.card-packet-body {
    padding: 0.4rem;
    height: auto;
}
.card-days-packet {
    font-size: 0.9rem;
    text-align: left;
    line-height: 1em;
    margin-bottom: 0.6rem;
    color: #312783;
}
.card-info-packet {
    font-size: 0.7rem;
    text-align: left;
    line-height: 1em;
    margin-bottom: 0.6rem;
    color: #706f6f;
}
.card-title-packet {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 0.6rem;
    text-align: left;
    color: #312783;
}
.packet-card {
    display: inline-flex;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
}
.packet-preview-img {
    display: inline-block;
    margin: 0.5rem;
}
.card-hashtag-company {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
    line-height: 1em;
    margin-bottom: 0.6rem;
    color: #706f6f;
}
.card-companies {
    position: relative;
    display: inline-flex;
    width: 32%;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

#logos {
    text-align: center;
}