<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="md-arrow-round-back">
      </ion-back-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding>
  <div id="backgroundImg">
    <img src="{{ infoPoi.img }}" alt="">
  </div> 

  <div id="name" class="key-text" style="margin-top: 1rem;">
    {{ infoPoi.name }}
  </div>
  
  <div id="description" class="general-text blue-text"
  style="margin-top: 1rem;">
    {{ infoPoi.description }}
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar (click)="toFooter()">
    <div style="text-align: center; margin: 0.4rem; font-size: large; font-weight: 600;">
      News & Maps & Concept
    </div>
  </ion-toolbar>
</ion-footer>