<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="blue-text" style="font-size: xx-large; font-weight: 600; text-align: center;">Visit-Industry Marche</div>
  <div style="font-size: 1.7rem; font-weight: 600; text-align: center; line-height: 3.2rem;">Login</div>

  <form [formGroup]="loginForm">
    <ion-item style="padding: 0.5rem;">
      <ion-input formControlName="email" type="text" placeholder="Email" (ionChange)="getEmail($event)"></ion-input>
    </ion-item>

    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.email">
        <div class="error-message" 
        *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>

    <ion-item style="padding: 0.5rem;">
      <ion-input formControlName="password" type="password" placeholder="Password" (ionChange)="getPassword($event)"></ion-input>
    </ion-item>

    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.password">
        <div class="error-message" 
        *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>

    <ion-button (click)="login()" shape="round" color="primary" size="default" expand="block">
      ACCEDI CON CREDENZIALI
    </ion-button>
    <ion-button (click)="anonymousLogin()" shape="round" color="primary" size="default" expand="block">
      ACCEDI IN ANONIMO
    </ion-button>
  </form>
</ion-content>
