<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar> 
          <div class="sub-key-text" 
          style="margin: 0rem; text-align: center;">
            Visit Industry Marche
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <div *ngFor="let p of appPages">

          <!-- *ngIf="p?.title != 'Diario di viaggio'" -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="'root'" [routerLink]="[p.url]" 
            routerLinkActive="active">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="font-size: 1.1rem; font-weight: 600;">{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item button *ngIf="p.clusters?.length>0" (click)="p.open = !p.open"
            [class.active-parent]="p.open" detail="false">
            <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
            <ion-label style="font-size: 1.1rem; font-weight: 600;">Cluster</ion-label>
          </ion-item>

          <div *ngFor="let cluster of p.clusters">
            <ion-menu-toggle auto-hide="false" *ngIf="p.open">
              <ion-item routerDirection="'root'" routerLinkActive="active" [routerLink]="[cluster.url]">
                <div [style.color]="cluster.color">
                  <ion-label style="font-size: 1.1rem; font-weight: 600;">{{cluster.name}}</ion-label>
                </div>
              </ion-item>
            </ion-menu-toggle>
          </div>

        </div>

        <div id="diary-page" *ngIf="enabledDiary">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="'root'" [routerLink]="[diaryPage.url]" 
              routerLinkActive="active">
              <ion-icon slot="start" [name]="diaryPage.icon"></ion-icon>
              <ion-label style="font-size: 1.1rem; font-weight: 600;">{{diaryPage.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
        
        <div>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="'root'" routerLinkActive="active" [routerLink]="" (click)="logout()">
              <ion-icon slot="start" ios="ios-log-out" md="md-log-out"></ion-icon>
              <ion-label style="font-size: 1.1rem; font-weight: 600;">Cambia Utente</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
        

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
