<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding>
  <div class="blue-text" style="font-size: 1.6rem; font-weight: 600; text-align: left;">
    Benvenuto {{ NAME }}
  </div>
  <div class="blue-text" style="font-size: 1.6rem; font-weight: 600; text-align: left;">
    Questa è la tua area riservata
  </div>

  <div style="font-size: 1.2rem; font-weight: 600; margin: 1rem; text-align: center;">
    Prenotazioni: 
  </div>

  <div id="packets" *ngIf="userBooking">

    <div id="packet" *ngFor="let usBook of userBooking" (click)="toUserPacket(usBook.packet.id)">
      <ion-card style="margin: 1rem;">
        <div class="sub-key-text blue-text" style="padding: 0.5rem;">
          {{ usBook.packet.title }}
        </div>
        <div class="general-text blue-text" style="padding: 0.5rem;">
          Data di prenotazione: {{ usBook.dataPrenotazione }}
        </div>
        <div class="general-text blue-text" style="padding: 0.5rem;"
        *ngIf="usBook?.dataInizio != '01/01/1970'">
          Data di inizio: {{ usBook.dataInizio }}
        </div>

        <ion-item style="padding: 0.5rem !important;">
          <img src="{{ usBook.packet.previewImage }}" 
          style="width: 8.2rem; height: fit-content;" alt="">
          <div class="card-packet-body">
            <p *ngIf="usBook.packet?.description != '---'" class="card-days-packet">{{ usBook.packet.description }}</p>
            <div *ngFor="let company of usBook.companies">
              <p class="card-hashtag-company">#{{ company }}</p>
            </div>
            <p class="card-info-packet">{{ usBook.packet.priceNotes }}</p>
          </div>
        </ion-item>
      </ion-card>
    </div>

  </div>

  <div id="loading-packets" *ngIf="userBooking?.length == 0">
    <ion-card style="margin: 1rem;">
      <div class="sub-key-text blue-text" style="padding: 0.5rem; text-align: center;">
        Caricamento prenotazioni..
      </div>
    </ion-card>
  </div>

</ion-content>
