/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Oxygen");

:root {
    --background-color: #fcfaf2 !important;
    --ion-default-font: 'Oxygen', sans-serif !important;

    .alert-wrapper.sc-ion-alert-ios {
        width: fit-content;
        height: fit-content;
    }

    .alert-checkbox-group.sc-ion-alert-ios, 
    .alert-radio-group.sc-ion-alert-ios {
        max-height: fit-content;
    }
}

ion-content {
    --ion-background-color: #fcfaf2;
    --ion-item-background: white;
}

.error-message {
    padding: 1rem;
    color: red;
}

.alert-radio-label.sc-ion-alert-ios {
    font-size: larger;
}

.alert-wrapper.sc-ion-alert-md {
    width: -webkit-fill-available;
}

.alert-checkbox-group.sc-ion-alert-md, 
.alert-radio-group.sc-ion-alert-md {
    max-height: fit-content;
}

.sc-ion-card-ios-h {
    --background: #fcfaf2 !important;
    -webkit-margin-start: 0rem !important;
    --margin-inline-start: 0rem !important;
    -webkit-margin-end: 0rem !important;
    --margin-inline-end: 0rem !important;
}

.alert-checkbox-label.sc-ion-alert-ios {
    font-weight: 600 !important;
    font-size: medium !important;
}

.find-trip {
    text-align: center !important;
    margin: 1.5rem !important;
    padding: 1rem;
    background-color: white;
}