<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="logos">
      <ion-chip style="padding: inherit" (click)="toHomePage()">
        <img style="width: 1.5rem; margin: auto; height: 2rem;" 
        src="../../assets/img/logo-120x219.png" />
        <div style="padding: 0.5rem; font-weight: 600; font-size: medium;">Visit Industry Marche</div>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.facebook.com/visitindustrymarche/?ref=br_rs" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-facebook" md="logo-facebook"></ion-icon></a>
      </ion-chip>
      <ion-chip style="padding: inherit">
        <a href="https://www.instagram.com/visitindustrymarche" target="_blank"><ion-icon style="width: 2rem; margin: auto; height: 1.4rem;" 
        ios="logo-instagram" md="logo-instagram"></ion-icon></a>
      </ion-chip>
    </div>
    </ion-toolbar>
  <div *ngIf="USERNAME" style="margin-left: 0.5rem; margin-bottom: 0.5rem;">
    <ion-chip style="padding: 0.5rem;">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
      <div>
        Benvenuto <b>{{ USERNAME }}</b>
      </div>
    </ion-chip>
  </div>
</ion-header>

<ion-content padding>
  <div id="companies" style="background-color: #fcfaf2; text-align: center;">
    <img (click)="toSelectedCompany(company)" *ngFor="let company of companies" 
    src="{{company.logo}}" alt="" style="width: 6.8rem; height: 4rem; margin: 0.5rem;">
  </div>

  <div class="blue-text" style="font-size: xx-large; font-weight: 600;">Visit-Industry Marche</div>
  <div style="font-size: 1.7rem; font-weight: 600;">nasce dalla rete creata da il “Paesaggio dell’Eccellenza”</div>
  
  <p class="general-text blue-text" style="font-size: initial; font-weight: 600;">
      L’Associazione siè costituita nel 2015 per valorizzare il patrimonio
      industriale del territorio recanatese.
      <br><br>
      Con la nuova proposta turistica che fa della cultura produttiva
      il suo tema centrale, la rete delle imprese si amplia a tutta
      la regione Marche accogliendo le più significativi realtà prodiuttive
      che hanno tracciato la storia marchigiana e alimentano lo sviluppo
      economico, culturale e sociale della regione in vari settori, del
      fashion, del design, dell’enologia, della tecnologia di avanguardia
      come della produzione artigiana.
  </p>
  
  <ion-card class="find-trip">
    <ion-list>
      <ion-item text-center>
        <div class="sub-key-text" style="margin-right: 25%; margin-left: 25%; margin-bottom: 0.5rem;">
          Trova il tuo viaggio
        </div>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1.4rem;">Aziende</ion-label>
        <ion-select id="select-companies" (ionChange)="onCompanyChange($event)" okText="OK" cancelText="ANNULLA">
          <ion-select-option *ngFor="let company of companiesToFind" value="{{company.name}}">{{company.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 1.4rem;">Cluster</ion-label>
        <ion-select id="select-clusters" (ionChange)="onClusterChange($event)" okText="OK" cancelText="ANNULLA">
          <ion-select-option *ngFor="let clst of clusters" value="{{clst.name}}">{{clst.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button (click)="findPacket()">Cerca</ion-button>
  </ion-card>

  <div *ngIf="resultsPacket?.length > 0">

    <div id="packets">
      <div id="packet" *ngFor="let packet of resultsPacket">
        <ion-card (click)="toSelectedPacket(packet, packet.cluster[0])" style="margin: 1rem;">
          <div class="sub-key-text blue-text" style="padding: 0.5rem;">
            {{packet.title}}
          </div>
          <ion-item style="background: #fcfaf2;">
            <img src="{{packet.previewImage}}" 
            style="width: 8.2rem; height: fit-content;" alt="">
            <div class="card-packet-body">
              <p *ngIf="packet?.description != '---'" class="card-days-packet">{{packet.description}}</p>
              <div *ngFor="let company of packet.companies">
                <p class="card-hashtag-company">#{{company.name}}</p>
              </div>
              <p class="card-info-packet">{{packet.priceNotes}}</p>
            </div>
          </ion-item>
        </ion-card>
      </div>
    </div>

  </div>

  <div id="partner-honorary">
    <hr color="#00000" />
    <p class="sub-key-text">Istituzioni Associate</p>

    <div id="partner-img" style="text-align: center;">

      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <a href="http://www.comune.recanati.mc.it" target="_blank">
                <img src="../../assets/img/partner-honorary1.jpg" alt=""
              style="width: 7.7rem; height: 3.8rem; margin: 0.5rem;"></a>
            </div>
          </ion-col>
          <ion-col>
            <div class="sub-key-text">
              Comune di Recanati
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <a href="https://www.unicam.it" target="_blank">
              <img src="../../assets/img/partner-honorary2.jpg" alt="" href="http://www.comune.recanati.mc.it"
              style="width: 7.7rem; height: 3.8rem; margin: 0.5rem;"></a>
            </div>
          </ion-col>
          <ion-col>
            <div class="sub-key-text">
                Unicam
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <a href="http://istao.it/" target="_blank">
                <img src="../../assets/img/partner-honorary3.jpg" alt=""
              style="width: 7.7rem; height: 3.8rem; margin: 0.5rem;"></a>
            </div>
          </ion-col>
          <ion-col>
            <div class="sub-key-text">
                Istao
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <a href="https://www.ismatteirecanati.it" target="_blank">
                <img src="../../assets/img/partner-honorary4.jpg" alt=""
              style="width: 7.7rem; height: 3.8rem; margin: 0.5rem;"></a>
            </div>
          </ion-col>
          <ion-col>
            <div class="sub-key-text">
                IIS Mattei Recanati
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div>
              <a href="https://www.fondazioneitsrecanati.it" target="_blank">
                <img src="../../assets/img/partner-honorary5.jpg" alt=""
              style="width: 7.7rem; height: 3.8rem; margin: 0.5rem;"></a>
            </div>
          </ion-col>
          <ion-col>
            <div class="sub-key-text">
                Fondazione Its Recanati
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <hr color="#00000" />
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar (click)="toFooter()">
    <div style="text-align: center; margin: 0.4rem; font-size: large; font-weight: 600;">
      News & Maps & Concept
    </div>
  </ion-toolbar>
</ion-footer>